@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .dark .bg-primarydark {
      background-color: #392657; /* Example dark mode background color */
    }
    .bg-primarylight {
      background-color: #553d7d; /* Example light mode background color */
    }
    .bg-secondary{
        /* background-color: linear-gradient(0deg, #392657 0%, #392657 100%, #392657 80%); */
        background: linear-gradient(0deg, #392657 0%, #392657 100%, #392657 80%);
      }
  }